              #-----------------------------------------#
              #         YABSM CONFIGURATION FILE        #
              #-----------------------------------------#

yabsm_dir=/.snapshots/yabsm

subvol root {

    mountpoint=/

    5minute_want=yes
    5minute_keep=24

    hourly_want=yes
    hourly_keep=36

    midnight_want=yes
    midnight_keep=21
    
    monthly_want=yes
    monthly_keep=12
}

subvol home {

    mountpoint=/home

    5minute_want=yes 
    5minute_keep=24

    hourly_want=yes
    hourly_keep=36

    midnight_want=yes
    midnight_keep=21

    monthly_want=no
    monthly_keep=0
}

backup homeBackup {

    subvol=home

    remote=yes

    host=someHost

    backup_dir=/.backups/homeBackup

    timeframe=midnight

    keep=60
}
