# This config specifies two subvols ('home' and 'root'), and one
# backup ('rootBackup').

# 'yabsm_dir' is a required setting that specifies the directory where
# snapshots will be placed. This directory is also used as a working
# directory for performing incremental backups. The directory value is
# taken literally so you almost certainly want this setting to end in
# '/yabsm'. Yabsm will create this directory for you if it does not
# exist. It only makes sense for this directory to be part of a btrfs
# filesystem.
yabsm_dir=/.snapshots/yabsm

# This subvol is named 'root' and is taking 5minute, hourly, and
# weekly snapshots. These snapshots will be placed in
# '/.snapshots/yabsm/root/{5minute,hourly,daily,weekly,monthly}'.
subvol root {

    # the mountpoint setting is the interface between a yabsm subvol and a
    # btrfs subvolume.
    mountpoint=/

    5minute_want=yes # take a snapshot every 5 minutes?
    5minute_keep=24

    hourly_want=yes # take a snapshot at the beginning of every hour
    hourly_keep=36

    daily_want=yes # take a snapshot every day at a specified time?
    daily_time=23:59
    daily_keep=21

    weekly_want=yes # take a snapshot at on one day of the week at a specified time?
    weekly_day=sunday # can be any day of the week (lowercase)
    weekly_time=23:59
    weekly_keep=21
    
    monthly_want=yes # take a snapshot at some time on the first of every month?
    monthly_time=00:00
    monthly_keep=12

} # closing brace

# We can define as many 'subvol's as we want. This subvol is taking
# 5minute and daily snapshots of the btrfs subvolume mounted at
# /home.
subvol home {

    mountpoint=/home

    5minute_want=yes 
    5minute_keep=50

    hourly_want=no

    daily_want=yes
    daily_keep=30
    daily_time=17:00

    weekly_want=no

    monthly_want=no
}

# This backup will take remote incremental backups of the 'root'
# subvol.
backup rootBackup {

    # must be a defined subvol.
    subvol=root

    remote=yes

    # because remote=yes we must define a 'host'. This host can be a
    # 'Host' defined in /root/.ssh/config or a host with user@ip form.
    host=user@192.168.1.73

    # This directory is taken literally. If the backup is a remote backup
    # this directory must already exist on the remote machine.
    backup_dir=/backups/yabsm/rootBackup

    # Can be any of 5minute, hourly, daily, weekly, monthly
    timeframe=daily

    time=23:59 # we have to specify the time for daily, weekly, and monthly backups

    ### day=monday # would be required if timeframe=weekly

    keep=60
}
