[Unit]
Description=Btrfs Snapshot Manager
Documentation=man:yabsm(1)

[Service]
Type=forking
PIDFile=/run/yabsmd.pid
ExecStart=/usr/local/bin/yabsm daemon start
ExecStop=/usr/local/bin/yabsm daemon stop

[Install]
WantedBy=multi-user.target
